.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 6rem;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 3rem;
  text-align: center;
}

.main h1 {
  color: #333;
}

.main p {
  color: #666;
  line-height: 1.6;
}

.main p,
.main h1,
.header {
  padding: 1rem;
}

.main h2 {
  font-size: 20px;
}

/* || Header || */

/*Header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8a39a2;
}

.navigation {
  display: flex;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1rem;
}


/*Navigation (page´s links)*/

.nav {
  display: flex;
  justify-content: center;
  padding: 1rem;
  color: #fff;
}

.nav ul {
  display: flex;
  gap: 1rem;
}

.nav li {
  list-style: none;
}


/*Navigation (social media links)*/

.socialMedia a img {
  width: 50px;
  height: 50px;
  padding: 10px;
}

/* || Home Page || */

.homeDiv {
  display: flex;
  gap: 1rem;
}

.profile {
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: #8a39a2;
  color: #fff;
  padding: 1rem;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #a822d1;
  cursor: pointer;
}

/*|| About Page||*/

.skillsDiv {
  display: flex;
  flex-direction: row;
}

.skillsDiv p {
  border: 1px solid #8a39a2;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
  transition: border-color 0.4s ease;
}


.skillsDiv p:hover {
  background-color: #f4f4f4;
  transform: scale(1.05);
  transition: border-color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}


/*|| Footer ||*/
.footer {
  padding: 1rem;
  text-align: center;
  background-color: #8a39a2;
  color: #fff;
}

.footer hr {
  margin: 10px 0;
  border: none;
  height: 1px;
  background-color: #ddd;
}

.footer p {
  margin: 5px 0;
  font-size: 16px;
}


/* Mobile */
@media (max-width: 700px) {

  .navigation {
    font-size: 0.8rem;
  }

  .navigation a {
    padding: 1rem;
  }

  .navigation p,
  .navigation div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .logoContainer,
  .socialMedia {
    display: none;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}